.container {
  padding: 0 16rem;
  margin-top: 4rem;
}

.main-nav {
  &__items {
    padding: 0px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    gap: 3.2rem;
  }

  &__item {
    font-size: 1.4em;
    font-family: $font-family-sans-serif;
    font-weight: 400;
  }

  &__link {
    text-decoration: none;
    color: #33323d;
    font-weight: 500;
    &:visited {
    }
    &:hover {
      cursor: pointer;
      border-bottom: 1px solid #33323d;
    }
    &--active {
      color: #008b72;
    }
  }
}
.footer {
  color: white;
  background-color: #33323d;
  &-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__items {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      gap: 3.2rem;
      padding-left: 0px;
    }
    &__item {
      font-size: 1.2em;
      font-family: $font-family-sans-serif;
      font-weight: 400;
    }
    &__social-items {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      gap: 3.2rem;
    }
    &__link {
      color: white;
      text-decoration: none;
      &--active {
        color: #008b72;
      }
      &:hover {
        border-bottom: 1px solid white;
      }

      &:visited {
      }
    }
  }
}
