@import "responsive";
@import "typography";
@import "components";
@import "home";

html {
  font-size: 62.5%; // Gör defualt font-size till 10px sålänge inte user-agent
  // är ändrat
  box-sizing: border-box;
}

body {
  font-size: 1.6rem; // Font-size i body till 16px
  padding: 0px;
  margin: 0px;
  background-color: #fafafa;
  color: #33323d;
}
