/* index.html */
.header-img {
  background-size: cover;
  background-image: url("img/header.jpg");
}

/* portfolio.html */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 1023.98px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Components and Utilites */
.active {
  color: #008b72 !important; /* TODO How to target without !important */
}

a {
  border-bottom: 3px solid transparent;
}

a:hover {
  border-bottom: 3px solid #008b72;
}
